.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  will-change: transform, border;
  transition: transform 65ms ease-out, border 300ms ease-in-out;
  pointer-events: none;
  display: flex;
}

.cursor-click {
  will-change: background-color, border;
  animation: clickAnim1 300ms ease-in-out;
}

.cursor-clickable {
  border: 2px solid #fff;
}

.cursor-center {
  width: 5px;
  height: 5px;
  /* box-sizing: border-box; */
  background-color: azure;
  /* display: block; */
  border-radius: 100%;
  position: absolute;
  transform: translate(-0.5px, -0.5px);
  /* margin: 15px 15px; */
  top:0; right:0; left: 0; bottom: 0;
  margin: auto;
  z-index: 10;
  /* will-change: transform; */
  transition: transform 200ms ease-in-out;
}

.cursor-center-click {
  /* will-change: transform; */
  animation: clickAnim2 400ms ease-in-out;
}

.cursor-center-clickable {
  transform: scale(2);
}

@keyframes clickAnim1 {
  0% {
    background-color: none;
  } 50% {
    background-color: rgba(255, 255, 255, 0.616);
  } 100% {
    background-color: none;
  }
}

@keyframes clickAnim2 {
  50% {
    transform: scale(4);
  }
}

@media only screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}