.intro-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide-container {
  margin: auto;
  padding: 0 20%;
  max-width: 100vw;
  font-family: 'Imfell Pica', serif;
  font-size: 1.5rem;
  text-align: center;
}

.slide-arrow {
  height: 100px;
  width: 100vw;
  display: flex;
  position: absolute;
  z-index: 20;
  color: rgba(255, 255, 255, 0.0);
  transition: color 300ms linear;
}

.slide-arrow svg {
  margin: auto;
  height: 100%;
}

.slide-arrow:hover {
  color: #fff;
}

.slide-arrow-top {
  top: 0%;
}
.slide-arrow-bot {
  bottom: 0%;
}

.slide-content {
  margin: auto;
  padding: 0 20%;
  max-width: 100vw;
  font-family: 'Imfell Pica', serif;
  font-size: 1.5rem;
  text-align: center;
}

.slide-content p {
  margin: 0;
}

.intro-title {
  font-family: 'Imfell Pica Italic', serif;
  font-size: 10rem;
  margin: 0;
}

.intro-subtitle {
  font-family: 'Imfell Pica Italic', serif;
  font-size: 2rem;
  margin: 0;
}

.continue-button {
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 5em;
  width: 5em;
}

.slide-enter {
  opacity: 0;
  /* transform: perspective(0px) translateZ(0.5px); */
  /* animation: willEnterAnim 500ms forwards; */
}

.slide-enter-active {
  opacity: 1;
  transition: all 400ms ease-in;
  /* transform: perspective(0px) translateZ(0); */
  /* animation: willEnterAnim 500ms forwards; */
}

.slide-exit {
  opacity: 1;
  /* transform: perspective(0px) translateZ(0); */
  /* animation: willEnterAnim 500ms forwards; */
}

.slide-exit-active {
  opacity: 0;
  transition: all 700ms ease-out;
  /* transform: perspective(0px) translateZ(2px); */
  /* animation: willEnterAnim 500ms forwards; */
}

/* .slide-enter-bot {
  opacity: 0;
  transform: translateY(-100%);
  animation: willEnterAnim 500ms forwards;
} */

.slide-enter-down {
  transform: translateY(0);
  animation: slideOutAnim 500ms forwards;
}

@keyframes willEnterAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutAnim {
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}

@media only screen and (max-width: 720px) {
  .slide-content {
    padding: 40px;
  }

  .intro-title {
    font-size: 6rem;
  }
}

/* @media only screen and (max-width: 600px) {
  .slide-content {
    padding: 20px;
    max-width: calc(100vw - 50px);
  }
} */